.welcomePage {
    background-color: black;
    /* background-image: url(../../images/wolverine.png); */
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    height: 500px;
  }
  .welcomePageTwo {
    background-color: #fff;
    background-image: url(../../images/earth.jpg);
    background-size: cover;
    width: 100vw;
    /* background: linear-gradient(to bottom right, black, white); */
    
  }
  .welcomePageText {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    line-height: 1.6em;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-weight: bolder;
  }
  .imageLeftCin {
    width: 45%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(0,0,0, 0),
      rgba(60,0,50, 100)
    ),url(../../images/space.jpg); 
    background-size: cover;
    
  }
  .imageRightCin{
    width: 45%;
    height: 100%;
    background-image: url(../../images/fb.jpg);
    background-size: contain;
    background-size: cover;

    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
  }
  
  .startingImg {
    background-image: url(../../images/xmen.png);
  }
  
  .leftImg {
    background-image: url(../../images/wolverine.png), url(../../images/griffes-gauche.png);
  }
  
  .rightImg {
    background-image: url(../../images/wolverine.png), url(../../images/griffes-droit.png);
  }
  
  /* .leftBox {
    display: flex;
    flex: 0 1 35%;
    align-items: flex-start;
    justify-content: flex-end;
  }
  
  .rightBox {
    display: flex;
    flex: 0 1 35%;
    align-items: flex-start;
  }
  
  .btn-welcome {
    border: 2px solid var(--white-color);
    color: var(--white-color);
    padding: 12px 25px;
    border-radius: 5px;
    background-color: transparent;
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    margin-top: 150px;
  }
  
  .btn-welcome:hover {
    border: 2px solid var(--white-color);
    color: var(--red-color);
    background-color: var(--white-color);
  } */