.signUpLoginBox {
    /* background-image: url(../../images/bg-noise-texture.png); */
    background-repeat: repeat;
    -webkit-box-shadow: inset 0px 143px 108px -18px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: inset 0px 143px 108px -18px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0px 143px 108px -18px rgba(0, 0, 0, 0.39);
    display: flex;
    justify-content: center;
  }
  
  .slContainer {
    flex: 0 1 80%;
    display: flex;
  }
  
  .formBoxLeftSignup {
    min-height: 500px;
    background-image: url(../../images/ironman.png);
    background-repeat: no-repeat;
    background-position: center center;
    flex: 0 1 50%;
  }
  
  .formBoxLeftLogin {
    min-height: 500px;
    /* background-image: url(../../images/spiderman.png); */
    background-repeat: no-repeat;
    background-position: center center;
    flex: 0 1 50%;
  }
  
  .formBoxLeftForget {
    min-height: 500px;
    background-image: url(../../images/deadpool.png);
    background-repeat: no-repeat;
    background-position: center center;
    flex: 0 1 50%;
  }
  
  .formBoxRight {
    flex: 0 1 50%;
    /* border: 2px solid var(--white-color); */
  }
  
  .formBoxRight span {
    display: block;
    color: red;
    text-align: center;
    border: 1px solid red;
    padding: 10px;
    margin: 15px 0;
  }
  
  .formContent {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .formContent h2 {
    margin: 0 0 40px 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
  }
  
  .formContent .inputBox {
    position: relative;
    height: 80px;
  }
  
  .formContent .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 17px;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    outline: none;
  }
  
  .formContent .inputBox label {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 17px;
    pointer-events: none;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  
  .formContent .inputBox input:focus~label,
  .formContent .inputBox input:valid~label {
    top: -30px;
    left: 0;
    color: white;
    font-size: 16px;
    font-style: italic;
  }
  
  /* Form buttons */
  .formContent button {
    margin-left: 0;
    display: block;
    margin: 0 auto 20px;
    min-width: 150px;
    background-color: #A70C0C;
    color: white;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
  }
  
  .formContent button:hover {
    background-color: #EA1515;
    color: white;
    cursor: pointer;
    outline: none;
  }
  
  button:disabled,
  button[disabled],
  button:disabled:hover,
  button[disabled]:hover {
    border: 1px solid grey;
    background-color: grey;
    color: grey;
    opacity: 0.65;
    cursor: not-allowed;
    color: white;
  }
  
  .linkContainer {
    height: 50px;
    margin-top: 35px;
    padding-top: 15px;
    border-top: 1px dashed grey;
  }
  
  .simpleLink {
    color: white;
    text-decoration: none;
    font-size: 12px;
  }
  
  .simpleLink:hover {
    color: red;
  }

  .logoutContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-grey-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--red-color);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* logout switch */

.logoutContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-grey-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked+.slider {
    background-color: var(--red-color);
  }
  
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }